@model ProjetoTCC.Models.Cadastro_Adm

@{
    ViewBag.Title = "Cadastrar ADM - SISTEMA";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>Cadastrar ADM - SISTEMA</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
<div class="form-group">
    @Html.Label("Nome", htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
    </div>
</div>

    <div class="form-group">
        @Html.Label("Viação", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.Viacao, new SelectList(
                 new List<Object>{
                     new { value = "Ralip", text = "Ralip"},
                     new { value = "Benfica BBTT", text = "Benfica BBTT"}
             },
             "value",
             "text",
             2), htmlAttributes: new { @class = "dropdown btn-info" })

        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Senha, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Senha, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Senha, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Cadastrar" class="btn btn-success" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Visualizar administradores cadastrados", "Index")
</div>

<br />
<a class="btn- btn-dark btn-lg" href="@Url.Action("Administrar", "AdmSistema")">
    Voltar para painel administrador
</a>
