<html>
<head>
    <title>@ViewBag.Title</title>

    <!-- Bootstrap core CSS -->
    <link href="@Url.Content("~/Content/vendor/bootstrap/css/bootstrap.min.css")" rel="stylesheet">

    <!-- Custom fonts for this template -->

    <link href="@Url.Content("~/Content/vendor/fontawesome-free/css/all.min.css")" rel="stylesheet">

    <link href="@Url.Content("~/Content/vendor/fontawesome-free/css/brands.min.css")" rel="stylesheet">


    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="@Url.Content("~/Content/css/agency.min.css")" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">Cadê Meu Bilhete?</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav text-uppercase ml-auto">
                    <li class="nav-item">
                        @Html.ActionLink("Home", "Index", "Principal", new { area = "" }, new { @class = "nav-link js-scroll-trigger" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Cartões", "Cartoes", "Principal", new { area = "" }, new { @class = "nav-link js-scroll-trigger" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Contato", "Create", "Contato", new { area = "" }, new { @class = "nav-link js-scroll-trigger" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Cadastrar Empresa", "Create", "AdmEmpresa", new { area = "" }, new { @class = "nav-link js-scroll-trigger" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Login Empresa", "LoginEmpresa", "Principal", new { area = "" }, new { @class = "nav-link js-scroll-trigger" })
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Header -->
    <header class="masthead">
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Bem vindo ao nosso sistema de bilhetagem eletrônica!</div>
            </div>
        </div>
    </header>

    <!-- Footer -->
    <div class="container body-content">
        @RenderBody()
        <footer class="footer">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-4">
                        <span class="copyright">Copyright &copy; Cadê Meu Bilhete? &copy; @DateTime.Now.Year </span>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="@Url.Content("~/Content/vendor/jquery/jquery.min.js")"></script>
    <script src="@Url.Content("~/Content/vendor/bootstrap/js/bootstrap.bundle.min.js")"></script>

    <!-- Plugin JavaScript -->
    <script src="@Url.Content("~/Content/vendor/jquery-easing/jquery.easing.min.js")"></script>


    <!-- Contact form JavaScript -->
    <script src="@Url.Content("~/Content/js/jqBootstrapValidation.js")"></script>
    <script src="@Url.Content("~/Content/js/contact_me.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.mask.js")"></script>


    <!-- Custom scripts for this template -->
    <script src="@Url.Content("~/Content/js/agency.min.js")"></script>
</body>
</html>