@model ProjetoTCC.Models.Estudante

@{
    ViewBag.Title = "Detalhes";
Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>Detalhes</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome_Instituicao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome_Instituicao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CPF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CPF)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bairro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bairro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Endereco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Endereco)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cidade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CEP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CEP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nome_Aluno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome_Aluno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Data_Nascimento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data_Nascimento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Voltar para a lista", "Index")
</p>
